<h2>Register new vehicle</h2>
<h3>New Vehicle for <%= @user.first_name %> <%= @user.last_name %></h3>
<%= form_for @vehicle, url: {action: 'create'} do |form|%>
  <div class="row">
    <div class="form-group">
    <%= form.label :model, for:'model' %><br />
    </div>
    <div class="form-group">
     <%= form.text_field :model, placeholder: "Modelo", autofocus: true, required: true, class: 'form-control'%>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= form.label :year %><br />
    </div>
    <div class="form-group">
    <%= form.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year), required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
    <%= form.label :vin %><br />
    </div>
    <div class="form-group">
    <%= form.text_field :vin, placeholder: "Placa", autofocus: true, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Register Vehicle" %><%= link_to "Cancel", user_vehicles_path(@user) %>
  </div>
<% end %>