<h1>Locaciones</h1>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Max slots</th>
				<th>Address</th>
				<th>Location</th>
				<th><%=%></th>
			</thead>
			<tbody>
			<% @locations.each do |location| %>
				<tr>
					<td><%= location.name %></td>
					<td><%= location.description %></td>
					<td><%= location.max_slots %></td>
					<td><%= location.address %></td>
	 				<% unless location.latitude.nil? && location.longitude.nil? %>
	                  <td>
	                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=150x150&sensor=false&zoom=14&markers=#{location.latitude}%2C#{location.longitude}" %>
	                  </td>
	                <%end%>
	                <td>
	                	<%= link_to "Edit",
	                        edit_location_path(location),
	                        class: 'btn btn-default' %>
		                <%= link_to "Delete",
	                        user_vehicle_path(location),
	                        method: 'delete',
	                        class: 'btn btn-danger',
	                        data: {confirm: "Are you sure?"} %>	
	                </td>
				</tr>
			<%end%>
			</tbody>
		</table>
	</div>
<div class="form-group">
	<%= link_to "Add Location", new_location_path(@user) , class: 'btn btn-success'%>
</div>

